.searchBarContainer {
  height: 100vh;
  width: 100vw;
  background: #e91e63;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.searchBar {
  width: 70%;
  height: 9%;
  font-size: 3vw;
}
::placeholder {
  opacity: 0.2;
}

#searchBarLabel {
  color: white;
  font-size: 4vw;
  margin-bottom: 3%;
  font-weight: bold;
}

#loadingImageContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 400px) {
  #loadingImageContainer {
    margin-left: 2%;
  }
}
