@import './Styles.scss';

header {
  background-color: $pink;
  box-shadow: 0px 5px 10px lighten($pink, 25%);
  .header__container {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1200px) {
      padding: 0 2.5%;
    }
    @media (max-width: 480px) {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }
  h1 {
    font-family: "Montserrat Bold";
    font-size: 2em;
    color: white;
  }
  h2 {
    font-size: 1.5em;
    font-family: "Montserrat Light";
    color: $pinkDark;
    @media (max-width: 480px) {
      font-size: 1em;
      margin-top: 5px;
    }
  }
}