@import './Styles.scss';

.issueItem {
  width: 320px;
  height: 240px;
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 15px $greyLight;
  @media (max-width: 480px) {
    margin: 0 0 25px 0;
  }
  .issueItem__top {
    background-color: $blue;
    color: white;
    font-size: 1.5em;
    line-height: 1.3em;
    padding: 1em;
    position: relative;
  }
  .issueItem__bottom {
    padding: 1em;
    overflow: hidden;
    display: flex;
    flex: 1;
    flex-direction: column;
    .issueItem__bodyText {
      overflow: hidden;
    }
    p {
      display: block;
      color: $grey;
      font-size: 1em;
      line-height: 1.5em;
      overflow: hidden;
      &[aria-disabled="true"] {
        color: $greyLight;
      }
    }
  }
  .issueItem__labels {
    margin-top: auto;
    justify-self: flex-end;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .issueItem__label {
    font-family: "Montserrat Light";
    font-size: 0.75em;
    background-color: $pink;
    color: white;
    display: flex;
    margin: 0 5px 5px 0;
    padding: 3px 5px;
    border-radius: 5px;
    p {
      color: white;
      font-size: 1em;
    }
    svg {
      height: 12px;
      width: 12px;
    }
  }
  .issueItem__icons {
    position: absolute;
    top: 0;
    right: 5px;
    .issueItem__icon {
      fill: $blueDark;
      div {
        height: 12px;
        margin: 0 0 5px 0;
      }
      svg {
        height: 12px;
      }
    }
  }
}