<html>
   <head>
      <title>GitHub Issues Viewer</title>
    </head>
   <body>
      <div id="githubIssuesApp">
        <form class="searchForm" @submit.prevent="submitSearch">
          <input type="text" v-model="searchQuery" placeholder="Type here and press enter">
        </form>
        <button @click="submitSearch"><i class="fa fa-search"></i>Search</button>
      
      <div class="searchResult" v-show="isResult" transition="expand">
          <div
          v-for="elem in issuesObj"
        >
          {{ elem.number }}
          {{ elem.title }}
        </div>
      </div>
    </div>
   </body>
</html>
