@font-face {
  font-family: 'Montserrat Regular';
  font-weight: 400;
  font-style: normal;
  src: url(~../fonts/montserrat-regular.woff2);
}

@font-face {
  font-family: 'Montserrat Light';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/montserrat-light.woff2);
}

body {
  color: #607D8B;
  font-family: 'Montserrat Regular';
  font-size: 12px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  h1 { font-size: 48px; }
  h2 { font-size: 28px; }
  h3 { font-size: 24px; }
  h4 { font-size: 18px; }
  h5 { font-size: 12px; }
  h6 { font-size: 9px; }

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  .italicized {
    font-style: italic;
  }
}
