.App {
  text-align: center;
}

.search-icon {
  height: 25px;
  width: 25px;
}

.App-header {
  background-image: linear-gradient(to bottom right, #FF1493, 	#DC143C);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.SearchBar{
  width:60%;
  height: 40px;
}
