.resultsContainer {
  width: 100vw;
  height: 100vh;
}

.resultsNavbarContainer {
  height: 8%;
  background: #e91e63;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

.issueContainer {
  height: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto;
}

.issueFilterContainer {
  display: flex;
  width: 30%;
  color: #455a64;
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  font-size: 12px;
  justify-content: space-between;
}
