@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

@include md {
  width: 60%;
}

.container {
  background-color: $white;

  .subheader {
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .icon {
      cursor: pointer;
      color: $grey;
      fill: currentColor;
    }
  }

  .content {
    padding: 0 16px 16px 16px;

    .filters-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .issues-container {
      margin-top: 32px;
      display: grid;
      grid-template-columns: repeat(1, auto-fit);
      grid-auto-flow: row;
      grid-template-rows: auto;
      grid-column-gap: 48px;
      grid-row-gap: 48px;
    }

    .not-found-container {
      margin-top: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 48px;
    }

    .loading {
      margin-top: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    @include md {
      padding: 0 48px 48px 48px;

      .filters-container {
        display: flex;
        flex-direction: row;

        .filter {
          margin-bottom: 0;
          font-size: 16px;
        }
      }

      .issues-container {
        grid-template-columns: repeat(3, 30%);
      }

      .loading {
        margin-top: 30%;
        color: $indigo;
      }
    }
  }
}
